{% extends 'navbar.html' %}
{% load static %}

{% block title %}{% endblock %}


{% block content %}
    {% block table_before %}

    {% endblock %}

    <table class="table table-striped">
        <thead>
            <tr>
                {% block table_head %}

                {% endblock %}
            </tr>
        </thead>
        <tbody>
             {% block table_body %}

             {% endblock %}
        </tbody>
    </table>
    {% block table_after %}

    {% endblock %}
{% endblock %}