{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static "user_management/css/loginstyle.css" %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <form class="form-signin" method="post">{% csrf_token %}
                            <h5 class="card-title text-center">Sign In</h5>
                            <div class="form-label-group">
                                {{ login_form.email }}
                                <label for="inputEmail">Email address</label>
                            </div>

                            <div class="form-label-group">
                                {{ login_form.password }}
                                <label for="inputPassword">Password</label>
                            </div>

                            {% if login_form.errors %}
                                {% for field in login_form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in login_form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                    Forgot your password? <a href="{% url "password_reset" %}">Reset your password</a>
                                {% endfor %}
                            {% endif %}
                            <button class="btn btn-lg btn-success btn-block text-uppercase mt-3" type="submit">Sign in</button>
                            New member? <a href="{% url 'registration' %}">Register now!</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}