{% extends 'navbar.html' %}


{% block content %}

	<!--Password reset sent-->
	<div class="container p-5">
  	<h2 class="font-weight-bold mt-3">Confirm your e-mail</h2>
		<hr>
        <p>Welcome to Streamplay!</p>
        <p>Check your e-mail to verify your account and start using your brand new profile!</p>
  </div>

{% endblock %}