{% extends "navbar.html" %}

{% block content %}

  <!--Password Reset Complete-->
    <div class="container p-4">
	    <h2 class="font-weight-bold mt-3">Password reset complete</h2>
		<hr>
        <p>Your password has been set. You may go ahead and log in now.</p>
        <a href="{% url 'login' %}" class="btn btn-primary">Log in</a>
    </div>

{% endblock %}