{% extends 'navbar.html' %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <title>{{ user.username }} profile's </title>


    <style>
        #profile_card {
            min-width: 300px;
            width: 20%;
            height: 20%;
        }

        #profile_pic {
            height: 50%;
            width: 100%;
        }

        #preview_pic {
            height: 75px;
            width: 170px;
        }
    </style>
{% endblock %}

{% block content %}
    <div .container class="d-flex justify-content-between">
        <div class="card" id="profile_card">
            <img class="card-img-top"
                    {% if user.picture %}
                 src="{{ user.picture.url }}"
                    {% else %}
                 src="{% static 'user_management/images/default-avatar.png' %}"
                    {% endif %}

                 alt="Card image"
                 id="profile_pic">

            <div class="card-body">
                <hr>
                <h4 class="card-title"> {{ user.username }} </h4>
                <p class="card-text">
                <p>Email =
                    {% if privacy.show_email or request.user.is_authenticated and user.email == request.user.email %}
                        {{ user.email }}{% else %}<i class="fas fa-lock"></i>{% endif %}</p>
                <p>Name =
                    {% if privacy.show_name or request.user.is_authenticated and user.email == request.user.email %}
                        {{ user.name }}{% else %}<i class="fas fa-lock"></i>{% endif %}</p>
                <p>Surname =
                    {% if privacy.show_surname or request.user.is_authenticated and user.email == request.user.email %}
                        {{ user.surname }}{% else %}<i class="fas fa-lock"></i>{% endif %}</p>
                <p>Birthday =
                    {% if privacy.show_birthday or request.user.is_authenticated and user.email == request.user.email %}
                        {{ user.birthday }}{% else %}<i class="fas fa-lock"></i>{% endif %}</p>
                <p>Nationality = {{ user.nationality }}<i class="{{ user.nationality.flag_css }}"></i></p>
                {% if request.user.is_authenticated %}
                    {% if user.email == request.user.email %}
                        <p>
                            <a href="{% url 'update' %}" class="btn btn-primary">
                                <i class="fas fa-user-edit"></i>
                            </a>
                        </p>
                    {% endif %}
                {% endif %}


            </div>
        </div>
        <div style="width: 60%">
            <div class="d-flex justify-content-between">
                <h1>
                    Library
                </h1>
            </div>
            <!-- se l'utente  vuole mostrare la libreria o se l'utente visualizza il proprio profilo -->
            {% if privacy.show_library or request.user.is_authenticated and user.email == request.user.email %}
                <!-- se non sono presenti giochi nella libreria -->
                {% if not object_list %}
                    <div class="d-flex justify-content-around">
                        <h5>
                            <img src="{% static "user_management/images/question.png" %}">
                            <div class=>It seems like you have no games... <a href="/">Let's fix that!</a></div>
                        </h5>
                    </div>
                    <!-- se sono presenti giochi nella libreria -->
                {% else %}
                    <table class="table table-striped" id="library">
                        <thead>
                        <tr>
                            <th></th>
                            <th class="align-middle text-center">Title</th>
                            <th class="align-middle text-center">Genre</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for videogame in object_list %}
                            <tr>
                                <td class="align-middle text-center">
                                    {% if videogame.picture %}
                                        <img id="preview_pic" src="{{ videogame.picture.url }}">
                                    {% else %}
                                        <img id="preview_pic"
                                             src="https://steamcdn-a.akamaihd.net/steam/apps/{{ videogame.sid }}/header.jpg">
                                    {% endif %}
                                </td>
                                <td class="align-middle text-center">
                                    <a href="{% url 'videogame-details' videogame.name %}">{{ videogame.name }}</a>
                                </td>
                                <td class="align-middle text-center">
                                    {{ videogame.genre }}
                                </td>
                                <td class="align-middle text-center">
                                    {% if request.user.is_authenticated %}
                                        {% if user.email == request.user.email %}
                                            <button class="btn btn-outline-success"><i class="far fa-play-circle"></i>
                                            </button>
                                        {% endif %}
                                    {% endif %}
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                {% endif %}
                <!-- se l'utente non vuole mostrare la libreria e se l'utente visualizza il profilo che non è il suo -->
            {% else %}
                <div class="d-flex justify-content-around">
                    <h5>
                        <img src="{% static "user_management/images/iconfinder_Lock_Close_Private_Locked_Protected_Security_4265036.png" %}">
                        <div class=>Sorry, this library is private</div>
                    </h5>
                </div>
            {% endif %}
    </div>
    </div>
    <div class="container mt-3">
        <h1>
            Bio
        </h1>
        <p class="text">
            {{ user.bio|linebreaks }}
        </p>
    </div>

{% endblock %}
{% block js %}

    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#library').DataTable({
                pageLenght: 5,
                lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'All']],
                "columnDefs": [
                    {"orderable": false, "targets": [0, 3]}
                ]
            });
        });
    </script>
{% endblock %}
