{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{% static "user_management/css/loginstyle.css" %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <form class="form-signin" method="post" autocomplete="off">{% csrf_token %}
                            <h5 class="card-title text-center">Register</h5>
                            <div class="form-label-group">
                                {{ registration_form.name }}
                                <label>Name</label>
                            </div>

                            <div class="form-label-group">
                                {{ registration_form.surname }}
                                <label>Surname</label>
                            </div>
                            <div  class="form-label-group " >
                                {{ registration_form.birthday }}
                                <label>Birthday (Format: yyyy-mm-dd)</label>

                            </div>
                            <div class="form-label-group">
                                {{ registration_form.email }}
                                <label>Email address</label>
                            </div>
                            <div class="form-label-group">
                                {{ registration_form.phone_number }}
                                <label>Phone Number</label>
                            </div>
                            <div class="form-label-group">
                                Nationality
                                {{ registration_form.nationality }}
                            </div>
                            <div class="form-label-group">
                                {{ registration_form.username }}
                                <label>Username</label>
                            </div>
                            <div class="form-label-group">
                                {{ registration_form.password1 }}
                                <label>Password</label>
                            </div>
                            <div class="form-label-group">
                                {{ registration_form.password2 }}
                                <label>Repeat password</label>
                            </div>
                            {% if registration_form.errors %}
                                {% for field in registration_form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in registration_form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <button class="btn btn-lg btn-success btn-block text-uppercase mt-3" type="submit">Register now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
{% block js %}
     <script>
        $( function() {
            $( "#id_birthday" ).datepicker({
                dateFormat: 'yy-mm-dd'
                }
            );
        } );
    </script>

{% endblock %}