{% extends 'navbar.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block head %}
    <title>Update profile</title>
{% endblock %}
{% block content %}
    <h1>Update your account information</h1>
    <p>Change your password: <a href="{% url 'password_reset' %}" class="btn btn-warning"><i class="fas fa-key"></i></a></p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form|crispy}}
        {{ privacy_form|crispy }}
        {{ user_form.errors }}
        {{ privacy_form.errors }}
        <button class="btn btn-primary border-dark" type="submit">Save changes</button>
    </form>
{% endblock %}

{% block js %}
    <script>
        $( function() {
            $( "#id_birthday" ).datepicker({
                    dateFormat: 'yy-mm-dd'
                }
            );
        } );
    </script>
{% endblock %}