{% extends 'navbar.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block head %}
    <style>
        #id_description {
            width: 50%;
        }
    </style>

    <style>
        .image {
            height: 10%;
            width: 10%;
        }

    </style>

{% endblock %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}
        {% for field in form %}
            {{ field|as_crispy_field }}
            {% if field.name == 'picture' and form.instance.picture.url %}
                <img class="image" src="{{ form.instance.picture.url }}"
                     id="videogame_picture">
            {% endif %}
            {% if field.name == 'image_1' and form.instance.image_1.url %}
                <img class="image" src="{{ form.instance.image_1.url }}"
                     id="image_1">
            {% endif %}
            {% if field.name == 'image_2' and form.instance.image_2.url %}
                <img class="image" src="{{ form.instance.image_2.url }}"
                     id="image_2">
            {% endif %}
            {% if field.name == 'image_3' and form.instance.image_3.url %}
                <img class="image" src="{{ form.instance.image_3.url }}"
                     id="image_3">
            {% endif %}


        {% endfor %}
        <br>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>


{% endblock %}

{% block js %}
    <script>

        $(function () {
            c
            $("#id_release_date").datepicker({
                    dateFormat: 'yy-mm-dd'
                }
            );
        });
    </script>
{% endblock %}