<!-- Old version of videogame_list -->

{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load thumbnail %}
{% load tags %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "games_management/css/loader.css" %}"/>

    <title>Search videogames</title>


{% endblock %}

{% block content %}

    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
    <form action="{% url 'videogame-list' %}" method="get"
          class="form-inline d-flex justify-content-around mb-3">
        {% crispy SearchForm SearchForm.helper %}
    </form>

    {% if object_list %}
        <table class="table table-striped  mt-3" id="Results">
            <thead class="text-center">
            <th></th>
            <th>
                Title
            </th>
            <th>
                Genre
            </th>
            <th>
                Price
            </th>
            <th>
                Rating
            </th>
            </thead>
            <tbody>
            {% for instance in object_list %}
                <tr>
                    <td class="align-middle text-center" style="width: 12%">
                        {% if instance.picture %}
                            <a href='{{ instance.get_absolute_url }}'>
                                <img src="{{ instance.picture.url }}" width="231" height="87"></a>
                        {% else %}
                            <a href='{{ instance.get_absolute_url }}'><img
                                    src="https://steamcdn-a.akamaihd.net/steam/apps/{{ instance.sid }}/header.jpg"
                                    width="231" height="87"></a>
                        {% endif %}
                    </td>
                    <td class="align-middle text-center" style="width: 22%">
                        <a href='{{ instance.get_absolute_url }}'
                           style="text-decoration: darkblue"> {{ instance.name }} </a>
                    </td>
                    <td class="align-middle text-center" style="width: 22%">
                        {{ instance.genre }}
                    </td>
                    <td class="align-middle text-center" style="width: 22%">
                        {{ instance.price }} €
                    </td>
                    <td class="align-middle text-center " style="width: 22%">
                        {% if instance.avg_review < 3 %}
                            <div style="color: red">{{ instance.avg_review }} <i class="fas fa-star"></i></div>
                        {% elif instance.avg_review > 3 %}
                            <div style="color: green">{{ instance.avg_review }} <i class="fas fa-star"></i></div>
                        {% else %}
                            <div style="color: darkgoldenrod">{{ instance.avg_review }} <i class="fas fa-star"></i>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

    {% else %}
        <div class="d-flex justify-content-center mt-3">
            <img src="{% static 'games_management/images/empty_list.jpg' %}">
        </div>
        <h4 class="d-flex justify-content-center">Nothing found... search something else!</h4>
    {% endif %}

{% endblock %}


{% block js %}

    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(window).on("load", function () {
            $(".loader-wrapper").fadeOut("slow");
        })
    </script>

    <script>
        $(document).ready(function () {
            $('#Results').DataTable({
                "bScrollInfinite": true,
                "bScrollCollapse": true,
                "sScrollY": "200px",
            });
        });
    </script>



{% endblock %}