{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load thumbnail %}
{% load tags %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "games_management/css/loader.css" %}"/>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>


    <title>Search videogames</title>

    <style>
        th.dt-center,
        td.dt-center {
            text-align: center;
            vertical-align: middle;
        }
    </style>

{% endblock %}

{% block content %}

    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
    <div class="container ">
        <form class="form-inline d-flex justify-content-between">
            <div class="col-xs-5">
                <label for="name" class="m-2">Name:</label>
                <input type="text" class="form-control m-2" id="name">
            </div>
            <div class="col-xs-5">
                <label for="genre" class="m-2">Genre:</label>

                <select id="genre" name="genre">
                    <option value="">-</option>
                    <option value="Action">Action</option>
                    <option value="Indie">Indie</option>
                    <option value="Strategy">Strategy</option>
                    <option value="RPG">RPG</option>
                    <option value="Animation & Modeling">Animation & Modeling</option>
                    <option value="Casual">Casual</option>
                    <option value="Simulation">Simulation</option>
                    <option value="Racing">Racing</option>
                    <option value="Adventure">Adventure</option>
                    <option value="Violent">Violent</option>
                    <option value="Free to Play">Free to Play</option>
                    <option value="Sports">Sports</option>
                    <option value="Gore">Gore</option>
                    <option value="Massively Multiplayer">Massively Multiplayer</option>
                    <option value="Utilities">Utilities</option>
                    <option value="Design & Illustration">Design & Illustration</option>
                    <option value="Education">Education</option>
                    <option value="Web Publishing">Web Publishing</option>
                    <option value="Sexual Content">Sexual Content</option>
                    <option value="Audio Production">Audio Production</option>
                    <option value="Photo Editing">Photo Editing</option>
                    <option value="Early Access">Early Access</option>
                </select>
            </div>
            <div class="col-xs-2">
                <label for="price_from" class="m-2">Price from:</label>
                <input id='min' type="text" class="form-control m-2" >€
            </div>
            <div class="col-xs-2">
                <label for="price_to" class="m-2">Price to:</label>
                <input id='max' type="text" class="form-control m-3">€
            </div>

            <div class="col-xs-2">
                <label for="rate" class="m-2">Rate:</label>

                <select id="rate" name="rate">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <i class="fas fa-star"></i>
            </div>
        </form>
    </div>
    <table class="table table-striped  mt-3" id="Results">
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Genre</th>
            <th>Price</th>
            <th>Rating</th>
        </tr>
        </thead>
    </table>


{% endblock %}


{% block js %}


    <script>
        $(window).on("load", function () {
            $(".loader-wrapper").fadeOut("slow");
        })
    </script>

    <script>

        function imageRender(data, type, row, meta){

            if(type === 'display'){
                if(row.picture == "") {
                    data = '<a href="\\games_management\\videogame_details\\' + row.name + '\"><img  src="https://steamcdn-a.akamaihd.net/steam/apps/' + data + '/header.jpg" width="231" height="87"></a>';
                }
                else {
                    data = '<a href="\\games_management\\videogame_details\\' + row.name + '\"><img  src="\\media\\'+row.picture+'" width="231" height="87"></a>';
                }

            }

            return data;
        }

        function vgNameRender(data, type, row, meta){

            if(type === 'display'){
                data = '<a href="\\games_management\\videogame_details\\'+ row.name +'\" style="text-decoration: darkblue">'+ data +'</a>';
            }

            return data;
        }
        function priceRender(data, type, row, meta){

            if(type === 'display'){
                if(data == 0) {
                    data = '<div style="color: green">FREE</div>';
                }
                else {
                    if (row.on_sale) {
                        discounted_price = data - ((data / 100) * row.sale_percentage);
                        data = '<del>'+data+' €</del><div style="color: green">'+ discounted_price + ' €</div>';
                    } else {
                        data = data + ' €'
                    }
                }
            }

            return data;
        }

        function reviewRender(data, type, row, meta){

            if(type === 'display'){
                if(data <=2){
                    data = '<div style="color: red">'+data+' <i class="fas fa-star"></i></div>';
                }
                else if (data >= 4){
                    data = '<div style="color: green">'+data+' <i class="fas fa-star"></i></div>';
                }
                else{
                    data = '<div style="color: darkgoldenrod">'+data+' <i class="fas fa-star"></i></div>';
                }
            }

            return data;
        }

        $.fn.dataTable.ext.search.push(
            function( settings, data, dataIndex ) {
                var min = parseFloat( $('#min').val(), 10 );
                var max = parseFloat( $('#max').val(), 10 );
                var price = parseFloat( data[3] ) || 0; // use data for the age column

                if ( ( isNaN( min ) && isNaN( max ) ) ||
                    ( isNaN( min ) && price <= max ) ||
                    ( min <= price   && isNaN( max ) ) ||
                    ( min <= price   && price <= max ) )
                {
                    return true;
                }
                return false;
            }
            ,
            function( settings, data, dataIndex ) {
                var min = parseInt( $('#rate').val(), 10 );
                var max = 5;
                var price = parseInt( data[4] ) || 0; // use data for the age column

                if ( ( isNaN( min ) && isNaN( max ) ) ||
                    ( isNaN( min ) && price <= max ) ||
                    ( min <= price   && isNaN( max ) ) ||
                    ( min <= price   && price <= max ) )
                {
                    return true;
                }
                return false;
            }
        );




        $(document).ready(function () {
            var table = $('#Results').DataTable({
                "dom":'tipr',
                "search": {
                    "search": "{% autoescape off %}{{ initial_name }}{% endautoescape %}"
                },

                "order": [1,'asc'],

                "columnDefs": [

                    {
                        targets: 0,
                        orderable: false,
                    },
                    {
                        targets: '_all',
                        className: 'dt-center'
                    }

                ],
                ajax: {
                    url: "{% url 'jsonVideogames' %}",
                    dataSrc: ""

                },
                columns: [
                    {"data": "sid", "render": imageRender},
                    {"data": "name", "render" :vgNameRender},
                    {"data": "genre"},
                    {"data": "price", "render" :priceRender},
                    {"data": "avg_review", "render" :reviewRender}

                ]
            });
            $('#name').keyup(function(){
                table.search( $(this).val() ).draw();
            })

            $('#genre').change(function(){
                table.columns(2).search( $(this).val() ).draw();
            })

            $('#min, #max').keyup( function() {
                table.draw();
            } );

            $('#rate').change( function() {
                table.draw();
            } );

        })
        ;


    </script>

{% endblock %}