{% extends 'navbar.html' %}
{% load tags %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% load static %}
{% block head %}
    <style>
        .checked {
            color: orange;
        }
    </style>
    <title>{{ object.name }} details</title>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between">
        <h1>{{ object.name }}</h1>
        {% if object.avg_review < 3 %}
            <h1 style="color: red">{{ object.avg_review }} <i class="fas fa-star"></i></h1>
        {% elif object.avg_review > 3 %}
            <h1 style="color: green">{{ object.avg_review }} <i class="fas fa-star"></i></h1>
        {% else %}
            <h1 style="color: darkgoldenrod">{{ object.avg_review }} <i class="fas fa-star"></i></h1>
        {% endif %}
    </div>
    <div class="d-flex justify-content-between">
        <div id="carousel" class="carousel slide" data-ride="carousel" style="width: 60%">

            <div class="carousel-inner">
                <div class="carousel-item active">
                    {% if object.picture %}
                        <img src="{{ object.picture|thumbnail_url:'videogame_details'}}" class="d-block w-100">
                    {% else %}
                        <img class="d-block w-100" src="https://steamcdn-a.akamaihd.net/steam/apps/{{object.sid}}/header.jpg" alt="First slide">
                    {% endif %}

                </div>
                {% if object.image_1 %}
                    <div class="carousel-item ">
                        <img class="d-block w-100" src="{{ object.image_1|thumbnail_url:'videogame_details' }}">
                    </div>
                {% endif %}
                {% if object.image_2 %}
                    <div class="carousel-item ">
                        <img class="d-block w-100" src="{{ object.image_2|thumbnail_url:'videogame_details' }}">
                    </div>
                {% endif %}
                {% if object.image_3 %}
                    <div class="carousel-item ">
                        <img class="d-block w-100" src="{{ object.image_3|thumbnail_url:'videogame_details' }}">
                    </div>
                {% endif %}

            </div>
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div style="width: 30%">
            <h1>Details</h1>
            <h5>
                <p>Genre: {{ object.genre }}</p>
                <p>Release date: {{ object.release_date }}</p>
                {% if object.on_sale %}
                    <p style="color: green">Price:
                        <del>{{ object.price }} €</del>
                        {{ object.get_discounted_price }} € -{{ object.sale_percentage }}%
                    </p>
                    <p style="color: green">On sale until {{ object.on_sale_last_date }}</p>
                {% else %}
                    <p>Price: {{ object.price }} €</p>
                {% endif %}
                {% if request.user.is_authenticated %}
                    {% if is_owned %}
                        <p><a class="btn btn-success disabled" data-toggle="tooltip" title="Game already owned"><i
                                class="fas fa-check-square"></i></a> You own this game!</p>
                    {% elif in_cart %}
                        <p><a href="{% url 'cart' %}" class="btn btn-outline-warning" data-toggle="tooltip"
                              title="Game in cart"><i class="fas fa-shopping-cart"></i></a></p>
                    {% else %}
                        <p><a href="{% url 'add-cart' videogame.name %}" class="btn btn-outline-success"
                              data-toggle="tooltip" title="Add to cart"><i class="fas fa-shopping-cart"></i></a></p>

                    {% endif %}
                    {% if request.user.is_admin %}
                        <p><a href="{% url 'update-videogame' videogame.name %}" class="btn btn-outline-warning"
                              data-toggle="tooltip" title="Update videogame info"><i class="fas fa-edit"></i></a>
                        <a href="{% url 'delete-videogame' videogame.name %}" class="btn btn-outline-danger"
                              data-toggle="tooltip" title="Delete videogame"><i class="fas fa-trash-alt"></i></a>
                        </p>
                    {% endif %}
                {% else %}
                    <p><a href="{% url 'login' %}" class="btn btn-outline-success" data-toggle="tooltip"
                          title="Log in to buy this game!"><i class="fas fa-sign-in-alt"></i></a></p>
                {% endif %}
            </h5>
        </div>
    </div>
    <h4 class="d-flex justify-content-between mt-3">About the game:</h4>
    <div>
        {{ object.description|safe }}
    </div>
    <div class="mt-3">
        <h1 class="d-flex justify-content-between">Reviews
            {% if request.user.is_authenticated and is_owned %}
                {% if is_reviewed %}
                    <button onclick="reviewGame()" class="btn btn-outline-primary">Update your review</button>
                {% else %}
                    <button onclick="reviewGame()" class="btn btn-outline-primary">Review the game!</button>
                {% endif %}
            {% endif %}
        </h1>
        {% if request.user.is_authenticated and is_owned %}
            {% if is_reviewed %}
                <div class="card">
                    <h5 class="card-header d-flex justify-content-between">
                        <div>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star {% if your_review.rate >= 2 %}checked{% endif %}"></span>
                            <span class="fa fa-star {% if your_review.rate >= 3 %}checked{% endif %}"></span>
                            <span class="fa fa-star {% if your_review.rate >= 4 %}checked{% endif %}"></span>
                            <span class="fa fa-star {% if your_review.rate >= 5 %}checked{% endif %}"></span>
                        </div>
                        <a href="{{ your_review.UserId.get_absolute_url }}">
                            Author : {{ your_review.UserId.username }}
                        </a>
                    </h5>
                    <div class="card-body">
                        <p class="card-text">{{ your_review.comment }}</p>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        <div id="review-field" style="display: none">
            {% if is_reviewed %}
                <form action="{% url 'update-review' object.name %}" method="POST" id="reviewForm">
            {% else %}
                <form action="{% url 'upload-review' object.name %}" method="POST" id="reviewForm">
            {% endif %}
            {% csrf_token %}
            {% crispy review_form review_form.helper %}
            </form>
        </div>
        {% if reviews %}
            {% for review in reviews %}
                <div class="card">
                    <h5 class="card-header d-flex justify-content-between">
                        <div>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star {% if review.rate >= 2 %}checked{% endif %}"></span>
                            <span class="fa fa-star {% if review.rate >= 3 %}checked{% endif %}"></span>
                            <span class="fa fa-star {% if review.rate >= 4 %}checked{% endif %}"></span>
                            <span class="fa fa-star {% if review.rate >= 5 %}checked{% endif %}"></span>
                        </div>
                        <a href="{{ review.UserId.get_absolute_url }}">
                            Author : {{ review.UserId.username }}
                        </a>
                    </h5>
                    <div class="card-body">
                        <p class="card-text">{{ review.comment }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            {% if not your_review %}
                <div class="d-flex justify-content-center">
                    <img src="{% static "games_management/images/review.png" %}">
                </div>
                <div class="d-flex justify-content-center">
                    <h5>And here's where i keep my reviews... if i had one!</h5>
                </div>
            {% endif %}
        {% endif %}
    </div>
    </div>

{% endblock %}
{% block js %}
    <script>
        function reviewGame() {
            revForm = document.getElementById('review-field')
            if (revForm.style.display === "none") {
                revForm.style.display = "block";
            } else {
                revForm.style.display = "none";
            }
        }
    </script>
{% endblock %}