{% extends 'navbar.html' %}

{% block head %}
    <title>
    Delete {{ object }}
    </title>
    <style>

        #outer-div{
            border-style: solid;
            border-color: #ff1c23;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="mt-5 pb-5 pt-5" id="outer-div">
        <div class="d-flex justify-content-center">
            <h2>Are you sure you want to delete "{{ object }}"?</h2>
        </div>
        <form class="d-flex justify-content-center" method="post">{% csrf_token %}
            <input class="btn btn-danger" type="submit" value="Confirm">
        </form>

    </div>
{% endblock%}