/*Search bar style*/
#search_form {
    margin: 0 auto;
    text-align: center;
    width: 90%;

}
/*Carousels styles*/
#hot_picks_right_btn{
    margin-right: -150px;
}
#hot_picks_left_btn{
    margin-left: -150px;
}



.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: none;
    background-size: 100%, 100%;
    border-radius: 100%;
    border: 2px solid black;
    background-image: none;

}

.carousel-control-next-icon:after
{
    content: '>';
    font-size: 27px;
    color: red;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 27px;
    color: red;
}



* {
  box-sizing: border-box;
}


/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}