{% extends 'navbar.html' %}
{% load static %}
{% load thumbnail %}
{% block head %}
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static "main/css/homestyle.css" %}">


{% endblock %}
{% block content %}
    </div>
    <div id="site-main-page" class="container">
        <div class="d-flex justify-content-between mb-3">
            <form action="{% url 'videogame-list' %}" method="post" class="form-inline autocomplete"
                  style="width: 100%"> {% csrf_token %}
                <input name='name' type="text" class="form-control" placeholder="Search a game..." id="search_form"
                       autocomplete="off"/>
                <button class="btn btn-outline-success" type="submit" data-toggle="tooltip" title="Search"><i
                        class="fas fa-search"></i></button>
            </form>
        </div>
        <h1 style="text-align: center">New releases</h1>
        <div class="d-flex justify-content-center">
            <div id="carousel" class="carousel slide" data-ride="carousel" style="width: 60%">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href={% url 'videogame-details' newest_game.name %}>
                            {% if newest_game.picture %}
                                <img class="d-block w-100"
                                     src="{{ newest_game.picture|thumbnail_url:'videogame_image' }}" alt="First slide">
                            {% else %}
                                <img class="d-block w-100"
                                     src="https://steamcdn-a.akamaihd.net/steam/apps/{{ newest_game.sid }}/header.jpg"
                                     alt="First slide">
                            {% endif %}
                        </a>
                    </div>
                    {% for game in new_games %}
                        <div class="carousel-item">
                            <a href={% url 'videogame-details' game.name %}>
                                {% if game.picture %}
                                    <img class="d-block w-100" src="{{ game.picture|thumbnail_url:'videogame_image' }}"
                                         alt="First slide">
                                {% else %}
                                    <img class="d-block w-100"
                                         src="https://steamcdn-a.akamaihd.net/steam/apps/{{ game.sid }}/header.jpg"
                                         alt="First slide">
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev"
                   id="hot_picks_left_btn">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next"
                   id="hot_picks_right_btn">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </div>
    <h1 class="container mt-3 pt-3 " style="text-align: center">Best Sellers</h1>
    <div class="container-fluid mt-3 ">
        <div class="row">
            <div class="col-sm-12">
                <div id="inam" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="row">
                                    {% for game in most_sold_videogames.pop %}
                                        <div class="col-sm-12 col-lg-4">
                                            <div class="card" style="width: 300px;margin: auto;">
                                                {% if game.picture %}
                                                    <img src="{{ game.picture.url }}"
                                                         class="card-img-top">
                                                {% else %}
                                                    <img src="https://steamcdn-a.akamaihd.net/steam/apps/{{ game.sid }}/header.jpg"
                                                         class="card-img-top">
                                                {% endif %}
                                                <div class="card-body">
                                                    <h4 class="card-title"><a
                                                            href="{% url 'videogame-details' game.name %}">{{ game.name }}</a>
                                                    </h4>
                                                    <p class="card-text">
                                                    <p>Genre : {{ game.genre }}</p>
                                                    {% if game.on_sale %}
                                                        <p style="color: green">Price:
                                                            <del>{{ game.price }} €</del>
                                                            {{ game.get_discounted_price }} €
                                                            -{{ game.sale_percentage }}%
                                                        </p>
                                                        <p style="color: green">On sale
                                                            until {{ game.on_sale_last_date }}</p>
                                                    {% else %}
                                                        <p>Price: {{ game.price }} €</p>
                                                    {% endif %}                                                    <p>
                                                    {% if game.avg_review < 3 %}
                                                        <div style="color: red">{{ game.avg_review }} <i
                                                                class="fas fa-star"></i></div>
                                                    {% elif game.avg_review > 3 %}
                                                        <div style="color: green">{{ game.avg_review }} <i
                                                                class="fas fa-star"></i></div>
                                                    {% else %}
                                                        <div style="color: darkgoldenrod">{{ game.avg_review }} <i
                                                                class="fas fa-star"></i></div>
                                                    {% endif %}
                                                    </p>
                                                    </p>


                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="row">
                                    {% for game in most_sold_videogames.pop %}
                                        <div class="col-sm-12 col-lg-4">
                                            <div class="card" style="width: 300px;margin: auto;">
                                                {% if game.picture %}
                                                    <img src="{{ game.picture.url }}"
                                                         class="card-img-top">
                                                {% else %}
                                                    <img src="https://steamcdn-a.akamaihd.net/steam/apps/{{ game.sid }}/header.jpg"
                                                         class="card-img-top">
                                                {% endif %}
                                                <div class="card-body">
                                                    <h4 class="card-title"><a
                                                            href="{% url 'videogame-details' game.name %}">{{ game.name }}</a>
                                                    </h4>
                                                    <p class="card-text">
                                                    <p>Genre : {{ game.genre }}</p>
                                                    {% if game.on_sale %}
                                                        <p style="color: green">Price:
                                                            <del>{{ game.price }} €</del>
                                                            {{ game.get_discounted_price }} €
                                                            -{{ game.sale_percentage }}%
                                                        </p>
                                                        <p style="color: green">On sale
                                                            until {{ game.on_sale_last_date }}</p>
                                                    {% else %}
                                                        <p>Price: {{ game.price }} €</p>
                                                    {% endif %}                                                    <p>
                                                    {% if game.avg_review < 3 %}
                                                        <div style="color: red">{{ game.avg_review }} <i
                                                                class="fas fa-star"></i></div>
                                                    {% elif game.avg_review > 3 %}
                                                        <div style="color: green">{{ game.avg_review }} <i
                                                                class="fas fa-star"></i></div>
                                                    {% else %}
                                                        <div style="color: darkgoldenrod">{{ game.avg_review }} <i
                                                                class="fas fa-star"></i></div>
                                                    {% endif %}
                                                    </p>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>

                        </div>
                        <a style="width: 5%" href="#inam" class="carousel-control-prev" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a style="width: 5%" href="#inam" class="carousel-control-next" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>

                    </div>

                </div>

            </div>

        </div>
    </div>
    <h1 class="container mt-3 pt-3" style="text-align: center">Fine games for your collection</h1>
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-sm-12">
                <div id="avg_games" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="row">
                                    {% for game in avg_games.pop %}
                                        <div class="col-sm-12 col-lg-4">
                                            <div class="card" style="width: 300px;margin: auto;">
                                                {% if game.picture %}
                                                    <img src="{{ game.picture.url }}"
                                                         class="card-img-top">
                                                {% else %}
                                                    <img src="https://steamcdn-a.akamaihd.net/steam/apps/{{ game.sid }}/header.jpg"
                                                         class="card-img-top">
                                                {% endif %}
                                                <div class="card-body">
                                                    <h4 class="card-title"><a
                                                            href="{% url 'videogame-details' game.name %}">{{ game.name }}</a>
                                                    </h4>
                                                    <p class="card-text">
                                                    <p>Genre : {{ game.genre }}</p>
                                                    {% if game.on_sale %}
                                                        <p style="color: green">Price:
                                                            <del>{{ game.price }} €</del>
                                                            {{ game.get_discounted_price }} €
                                                            -{{ game.sale_percentage }}%
                                                        </p>
                                                        <p style="color: green">On sale
                                                            until {{ game.on_sale_last_date }}</p>
                                                    {% else %}
                                                        <p>Price: {{ game.price }} €</p>
                                                    {% endif %}                                                    <p>
                                                    {% if game.avg_review < 3 %}
                                                        <div style="color: red">{{ game.avg_review }} <i
                                                                class="fas fa-star"></i></div>
                                                    {% elif game.avg_review > 3 %}
                                                        <div style="color: green">{{ game.avg_review }} <i
                                                                class="fas fa-star"></i></div>
                                                    {% else %}
                                                        <div style="color: darkgoldenrod">{{ game.avg_review }} <i
                                                                class="fas fa-star"></i></div>
                                                    {% endif %}
                                                    </p>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="row">
                                    {% for game in avg_games.pop %}
                                        <div class="col-sm-12 col-lg-4">
                                            <div class="card" style="width: 300px;margin: auto;">
                                                {% if game.picture %}
                                                    <img src="{{ game.picture.url }}"
                                                         class="card-img-top">
                                                {% else %}
                                                    <img src="https://steamcdn-a.akamaihd.net/steam/apps/{{ game.sid }}/header.jpg"
                                                         class="card-img-top">
                                                {% endif %}
                                                <div class="card-body">
                                                    <h4 class="card-title"><a
                                                            href="{% url 'videogame-details' game.name %}">{{ game.name }}</a>
                                                    </h4>
                                                    <p class="card-text">
                                                    <p>Genre : {{ game.genre }}</p>
                                                    {% if game.on_sale %}
                                                        <p style="color: green">Price:
                                                            <del>{{ game.price }} €</del>
                                                            {{ game.get_discounted_price }} €
                                                            -{{ game.sale_percentage }}%
                                                        </p>
                                                        <p style="color: green">On sale
                                                            until {{ game.on_sale_last_date }}</p>
                                                    {% else %}
                                                        <p>Price: {{ game.price }} €</p>
                                                    {% endif %}
                                                    <p>
                                                        {% if game.avg_review < 3 %}
                                                            <div style="color: red">{{ game.avg_review }} <i
                                                                    class="fas fa-star"></i></div>
                                                        {% elif game.avg_review > 3 %}
                                                            <div style="color: green">{{ game.avg_review }} <i
                                                                    class="fas fa-star"></i></div>
                                                        {% else %}
                                                            <div style="color: darkgoldenrod">{{ game.avg_review }} <i
                                                                    class="fas fa-star"></i></div>
                                                        {% endif %}
                                                    </p>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>

                        </div>
                        <a style="width: 5%" href="#avg_games" class="carousel-control-prev " data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a style="width: 5%" href="#avg_games" class="carousel-control-next" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>

                    </div>

                </div>

            </div>

        </div>
    </div>

    {% if user.is_authenticated %}
        {% if raccomended_videogames %}
            <h1 class="container mt-3 pt-3" style="text-align: center">Just for you</h1>
            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="suggestions" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="container">
                                        <div class="row">
                                            {% for game in raccomended_videogames.pop %}
                                                <div class="col-sm-12 col-lg-4">
                                                    <div class="card" style="width: 300px;margin: auto;">
                                                        {% if game.picture %}
                                                            <img src="{{ game.picture.url }}"
                                                                 class="card-img-top">
                                                        {% else %}
                                                            <img src="https://steamcdn-a.akamaihd.net/steam/apps/{{ game.sid }}/header.jpg"
                                                                 class="card-img-top">
                                                        {% endif %}
                                                        <div class="card-body">
                                                            <h4 class="card-title"><a
                                                                    href="{% url 'videogame-details' game.name %}">{{ game.name }}</a>
                                                            </h4>
                                                            <p class="card-text">
                                                            <p>Genre : {{ game.genre }}</p>
                                                            {% if game.on_sale %}
                                                                <p style="color: green">Price:
                                                                    <del>{{ game.price }} €</del>
                                                                    {{ game.get_discounted_price }} €
                                                                    -{{ game.sale_percentage }}%
                                                                </p>
                                                                <p style="color: green">On sale
                                                                    until {{ game.on_sale_last_date }}</p>
                                                            {% else %}
                                                                <p>Price: {{ game.price }} €</p>
                                                            {% endif %}
                                                            <p>
                                                                {% if game.avg_review < 3 %}
                                                                    <div style="color: red">{{ game.avg_review }} <i
                                                                            class="fas fa-star"></i></div>
                                                                {% elif game.avg_review > 3 %}
                                                                    <div style="color: green">{{ game.avg_review }} <i
                                                                            class="fas fa-star"></i></div>
                                                                {% else %}
                                                                    <div style="color: darkgoldenrod">{{ game.avg_review }}
                                                                        <i class="fas fa-star"></i></div>
                                                                {% endif %}
                                                            </p>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="container">
                                        <div class="row">

                                            {% for game in raccomended_videogames.pop %}
                                                <div class="col-sm-12 col-lg-4">
                                                    <div class="card" style="width: 300px;margin: auto;">
                                                        {% if game.picture %}
                                                            <img src="{{ game.picture.url }}"
                                                                 class="card-img-top">
                                                        {% else %}
                                                            <img src="https://steamcdn-a.akamaihd.net/steam/apps/{{ game.sid }}/header.jpg"
                                                                 class="card-img-top">
                                                        {% endif %}
                                                        <div class="card-body">
                                                            <h4 class="card-title"><a
                                                                    href="{% url 'videogame-details' game.name %}">{{ game.name }}</a>
                                                            </h4>

                                                            <p class="card-text">
                                                            <p>Genre : {{ game.genre }}</p>
                                                            {% if game.on_sale %}
                                                                <p style="color: green">Price:
                                                                    <del>{{ game.price }} €</del>
                                                                    {{ game.get_discounted_price }} €
                                                                    -{{ game.sale_percentage }}%
                                                                </p>
                                                                <p style="color: green">On sale
                                                                    until {{ game.on_sale_last_date }}</p>
                                                            {% else %}
                                                                <p>Price: {{ game.price }} €</p>
                                                            {% endif %}
                                                            <p>
                                                                {% if game.avg_review < 3 %}
                                                                    <div style="color: red">{{ game.avg_review }} <i
                                                                            class="fas fa-star"></i></div>
                                                                {% elif game.avg_review > 3 %}
                                                                    <div style="color: green">{{ game.avg_review }} <i
                                                                            class="fas fa-star"></i></div>
                                                                {% else %}
                                                                    <div style="color: darkgoldenrod">{{ game.avg_review }}
                                                                        <i class="fas fa-star"></i></div>
                                                                {% endif %}
                                                            </p>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}


                                        </div>
                                    </div>

                                </div>
                                <a style="width: 5%" href="#suggestions" class="carousel-control-prev"
                                   data-slide="prev">
                                    <span class="carousel-control-prev-icon"></span>
                                </a>
                                <a style="width: 5%" href="#suggestions" class="carousel-control-next"
                                   data-slide="next">
                                    <span class="carousel-control-next-icon"></span>
                                </a>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        {% endif %}
    {% endif %}
    <div>
{% endblock %}
{% block js %}
    <script>
        var games = {% autoescape off %}  {{ vg_names }} {% endautoescape %}

            $(function () {
                $('#search_form').autocomplete({
                    source: function (request, response) {
                        var results = $.ui.autocomplete.filter(games, request.term);

                        response(results.slice(0, 10));
                    }

                })
            })
    </script>
{% endblock %}
