{% load static %}
{% load tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{% static "main/images/favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "main/images/favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet " type="text/css" href="{% static "main/css/style_base.css" %}">

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all"
          href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"/>

    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <style>
        #profile_preview {
            height: 50px;
            width: 50px;
        }

        #footer_icon {
            height: 50px;
            width: 80px;
        }

    </style>

    {% block head %}{% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">
<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand ml-5" href="/">
        <img src="{% static 'main/images/logo_size-removebg-preview.png' %}">
    </a>
    {% if request.user.is_authenticated %}
        <div class="mr-5">
            {% if request.user.is_admin %}
                <a class="btn btn-light ml-2" href="/admin" data-toggle="tooltip" title="Admin page"><i
                        class="fas fa-user-shield"></i> </a>
                <a class="btn btn-light ml-2" href="{% url 'stats_page' %}" data-toggle="tooltip"
                   title="Site statistics"><i class="fas fa-chart-bar"></i></a>
            {% endif %}
            <a class="btn btn-light ml-2" href="{% url 'videogame-list' %}" data-toggle="tooltip"
               title="Videogame list"><i class="fas fa-gamepad"></i> </a>
            <a class="btn btn-light ml-2" href="{% url 'cart' %}" data-toggle="tooltip" title="Cart"><i
                    class="fas fa-shopping-cart"></i> {% item_in_cart request %} </a>
            <a class="btn btn-light ml-2" href="{% url 'logout' %}" data-toggle="tooltip" title="Logout"><i
                    class="fas fa-sign-out-alt"></i></a>
            <a class="btn btn-light ml-2" href="{% url 'user-details' request.user.username %}" data-toggle="tooltip"
               title="Your profile">
                {% if request.user.picture %}
                    <img class="rounded-circle" src="{{ request.user.picture.url }}" id="profile_preview">
                {% else %}
                    <img class="rounded-circle" src="{% static 'user_management/images/default-avatar.png' %}"
                         id="profile_preview">
                {% endif %}
            </a>
        </div>
    {% else %}
        <div class="mr-5">
            <a class="btn btn-light" href="{% url 'videogame-list' %}" data-toggle="tooltip" title="Videogame list"><i
                    class="fas fa-gamepad"></i></a>
            <a class="btn btn-light" href="{% url 'login' %}" data-toggle="tooltip" title="Login"><i
                    class="fas fa-sign-in-alt"></i></a>
        </div>
    {% endif %}
</nav>

<div class="container mt-3 pt-1">
    {% block content %}

    {% endblock %}
</div>
<footer style="background-color: lightgrey" class="mt-auto">
    <img src="{% static 'main/images/logo_size-removebg-preview.png' %}" class="ml-5 mt-1 mb-1" id="footer_icon">
</footer>


{% block js %}

{% endblock %}
</body>


</html>