{% extends 'navbar.html' %}
{% load static %}
{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link rel="stylesheet" type="text/css" href="{% static "main/css/homestyle.css" %}">

    <title>Site Stats</title>

{% endblock %}

{% block content %}
    <div class="container mt-3 pt-3">
        <h1>{{ graph_name }}</h1>
        <div class="d-flex justify-content-between">
            <form method="get" class="form-inline autocomplete" style="width: 100%;"> {% csrf_token %}
                <input style="width: 85%" placeholder="Search a game.." name="name" id="search_form" type="text" autocomplete="off" />
                <select name="month"  >
                    <option value="00">All time</option>
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
                <button class="btn btn-outline-success" type="submit" data-toggle="tooltip" title="Search"><i
                        class="fas fa-search"></i></button>
            </form>
        </div>
        {% if game_not_found %}
            <h1 style="text-align: center" class="mt-3 mb-3">No data avaible for this game</h1>
        {% else %}
            <canvas id="best_sellers_at" ></canvas>
        {% endif %}
    </div>
{% endblock %}

{% block js%}
    <script>
        var ctx = document.getElementById('best_sellers_at').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'bar',

            // The data for our dataset
            data: {
                labels: [{% for el in game_query.keys %} {% autoescape off %}"{{ el }}", {% endautoescape %}{% endfor %}],
                datasets: [{
                    label: 'Sold games',
                    backgroundColor: 'rgb(150, 0, 0)',
                    borderColor: 'rgb(150, 0, 0)',
                    data: [{% for el in game_query.values %} "{{ el }}", {% endfor %}]
                }]
            },
            // Configuration options go here
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>

    <script>
        var games = {% autoescape off %}  {{ vg_names }} {% endautoescape %}

            $(function () {
                $('#search_form').autocomplete({
                    source:function(request, response) {
                        var results = $.ui.autocomplete.filter(games, request.term);

                        response(results.slice(0, 10));
                    }

                })
            })
    </script>
{% endblock %}