{% extends 'navbar.html' %}
{% load static %}
{% block head %}
    <title>Your cart</title>
{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between">
        <p>
        <h1>My cart</h1></p>

        <p>
        <h1>Items in cart: {{ user_cart.Videogames.all.count }}</h1></p>
    </div>
    {% if user_cart.Videogames.all.count == 0 %}

        <div class="d-flex justify-content-center mt-3">
            <a href="/"><img src="{% static 'games_management/images/cart.png' %}"></a>
        </div>
        <h4 class="d-flex justify-content-center mt-2"> Your cart is empty!</h4>

    {% else %}
        <table class="table table-striped mt-3">
            <thead class="text-center">
            <th></th>
            <th>Title</th>
            <th>Genre</th>
            <th>Price</th>
            <th></th>
            </thead>
            <tbody>
            {% for instance in user_cart.Videogames.all %}
                <tr>
                    <td class="align-middle text-center" style="width: 10%">
                        {% if instance.picture %}
                            <a href='{% url 'videogame-details' instance.name %}'>
                                <img src="{{ instance.picture.url }}" width="231" height="87"></a>
                        {% else %}
                            <a href='{% url 'videogame-details' instance.name %}'><img
                                    src="https://steamcdn-a.akamaihd.net/steam/apps/{{ instance.sid }}/header.jpg"
                                    width="231" height="87"></a>
                        {% endif %}
                    </td>
                    <td class="align-middle text-center" style="width: 22%">
                        <a href='{% url 'videogame-details' instance.name %}'
                           style="text-decoration: darkblue"> {{ instance.name }} </a>
                    </td>
                    <td class="align-middle text-center" style="width: 22%">
                        {{ instance.genre }}
                    </td>
                    <td class="align-middle text-center" style="width: 22%">
                        {% if instance.on_sale %}
                            <del>{{ instance.price }} €</del> {{ instance.get_discounter_price }} €
                        {% else %}
                            {{ instance.price }} €
                        {% endif %}
                    </td>
                    <td class="align-middle text-center" style="width: 12%">
                        <a href="{% url 'remove-cart' instance.name %}" class="btn btn-outline-danger"><i
                                class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="d-flex justify-content-between" style="color: green">
            <h1>Subtotal: {{ user_cart.sub_total }} €</h1>
            <div>
                <form class="form-inline" method="post" action="checkout">{% csrf_token %}
                    <a href="/" class="btn btn-outline-secondary"><p class="align-middle">Back to store</p></a>
                    <button class="btn btn-outline-success"><p class="align-middle">Checkout</p></button>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}