{% extends 'navbar.html' %}

{% block content %}
    <div class="d-flex justify-content-center">
        <h1>Thank you!</h1>
    </div>
    <div class="d-flex justify-content-center mt-2"><h5>You'll find your games in your library!</h5></div>
    <div class="d-flex justify-content-center mt-2"><a class="btn btn-success" href="{% url 'user-details' request.user.username %}">Go to your profile</a></div>

{% endblock  %}